<a href="/"><h1>enjoy your chatroom </h1></a>

<p class="instructions">type in your message and hit enter | send the link to your friends to join | enjoy the anonymity with random funny names</p>



<div id="chatroom-box">
  <form id="new-message-form">
    <input type="text" name="content" placeholder="your message..." id="message-content">
 <!--    <input type="submit" value="send" id="submit-message"> -->
  </form>

  <div id="messages-display"></div>

</div>