body {
  font-family: 'Quicksand', sans-serif;
  background-color: #FF924E;
}

/* MAIN PAGE */
.welcome-box{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.welcome-message {
}

.create-chatroom-form {
  margin-top: 3.7%;
  text-align: center;
}

.create-chatroom-button {
  text-align: center;
  font-family: 'Quicksand', sans-serif !important;
  background-color: #3A393B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  border: none;
  padding: 10px;
}

/* CHATROOMS */
a {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #3A393B;
  font-size: 2em;
}

#chatroom-box {
  color: #3A393B;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

#message-content {
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 5px;
  width: 100%;
  text-align: center;
}

#submit-message {
  padding: 5px;
  margin-bottom: 2%;
}

.names {
  margin-bottom: -4%;
  margin-top: 5%;
  opacity: 0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.messages {
  font-size: 2em;
}

.timestamp {
  font-size: 0.5em;
  margin-top: -2%;
  opacity:0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}