body {
  font-family: 'Quicksand', sans-serif;
  background-color: #FF924E;
}

/* MAIN PAGE */




/* CHATROOMS */

h1 {
  text-align: center;
  color: #3A393B;
  font-size: 2em;
}

#chatroom-box {
  color: #3A393B;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

#message-content {
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 5px;
  width: 100%;
  text-align: center;
}

#submit-message {
  padding: 5px;
  margin-bottom: 2%;
}

.names {
  margin-bottom: -4%;
  margin-top: 5%;
  opacity: 0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.messages {
  font-size: 2em;
}

.timestamp {
  font-size: 0.5em;
  margin-top: -2%;
  opacity:0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}